@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #1d0536;
    --primary-color-darker: #16516e;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 13% 15%;
    background: var(--primary-color);
    font-family: "Open sans", sans-serif;
    font-size: 1.3em;
    line-height: 3em;
}

.container {
    align-items: center;
    width: 50%;
    margin: 50px auto;
    background: #ffffff;
    padding: 2% 4%;
    border-radius: 10px;
}

form input, form label {
    display: block;
    width: 50%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 1,125rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 7%;
    border-radius: 10%;
    padding: 2% 2%;
}

p {
    text-align: center;
}

button:hover{
    background: var(--primary-color-darker);
}

.relogio {
    font-size: 3em;
    text-align: center;
}

.pausado {
    color: red;
}

.credito {
    font-size: 8px;
    text-decoration: none;
    position: fixed;
    bottom: 1px;
    right: 100px;
}

@media (max-width: 768px) {
    :root {
        font-size: 10px;
    }
    .container {
        box-sizing: border-box;
        width: 90%;
        
    }

    .relogio {
        padding: 2% 2%;
        text-align: center;
    }

    button {
        padding: 2% 4%;
    }
    
    .credito{
        text-align: center;
    }
}